@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Yarndings+12&display=swap");

$Montserrat: "Montserrat", sans-serif;
$Roboto: "Roboto", sans-serif;
$Yardings: "Yardings";
