@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Yarndings+12&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

$Montserrat: "Montserrat", sans-serif;
$Oswald: "Oswald", sans-serif;
$Yarndings: "Yarndings 12", system-ui;
